[submodule "docs/adr-architecture/packer-qemu-template"]
	path = docs/adr-architecture/packer-qemu-template
	url = https://github.com/ray5273/packer-qemu-template
[submodule "docs/adr-architecture/Github-Review-Dashboard-and-Alarm-Bot"]
	path = docs/adr-architecture/Github-Review-Dashboard-and-Alarm-Bot
	url = https://github.com/ray5273/Github-Review-Dashboard-and-Alarm-Bot
